.container {
	width: 100%;
	max-width: 500px;
	height: 100vh;
	overflow: auto;
	margin: 0 auto;
	background-color: ivory;
	padding: 30px 20px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.profile__img {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.profile__name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.profile__desc {
  font-size: 16px;
}

.profile__desc strong {
  font-weight: 500;
}

.blogBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blogBox__title {
  font-size: 20px;
  margin-bottom: 20px;
}

.blogBox__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blogBox__listItem {
  width: 100%;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  color: #999;
}

.blogBox__listItem a {
  transition: all .4s;
  color: #999;
}

.blogBox__listItem a:hover, .blogBox__listItem a:hover + small {
  color: #333
}